.group {
  display: flex;
  flex-direction: row;
  gap: var(--st-spacing-inline-lg);
}

.wrap { flex-wrap: wrap; }

.start  { justify-content: flex-start; }
.center { justify-content: center; }
.end    { justify-content: flex-end; }

@media (max-width: 520px) {
  .group {
    flex-direction: column;
    width: 100%;
  }

  .group > * {
    width: 100%;
    text-align: center;
  }
}
